html {
	background-color: #93dec4
}

body {
	marign: 0px;
}

#canvasContainer {
	height: 1000vh;
	width: 100vw;
	z-index: -2;
	position: absolute;
}


#canvas {
	position: absolute;
	z-index: -1;
}

#main * {
	position: relative;
	margin: auto auto auto auto;
	z-index: 10;
	font-family: 'Open Sans';
	text-align: center;
	color: rgba(0,0,0,.6);
}

#transparentBox {
	opacity: .5%;
	background-color: #000;
}